<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.employeetracker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDrj6sKBoIdKMuI5ZRyWLv8x6BoxvhGCUE" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdminMainActivity"
            android:label="Admin Control Panel" />
        <activity
            android:name=".AddEmployeeActivity"
            android:label="Add Employee" />
        <activity
            android:name=".ChangePasswordActivity"
            android:label="Change Password" />
        <activity
            android:name=".EmployeeMainActivity"
            android:label="Employee Profile" />
        <activity
            android:name=".ViewPhotoActivity"
            android:label="View Photos" />
        <activity
            android:name=".EmployeeListActivity"
            android:label="Employee List"/>
        <activity
            android:name=".ViewLocationsActivity"
            android:label="View Employee Locations" />
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"></activity>
    </application>

</manifest>